*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: orangered;
}
.con{
    width: 400px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    display: flex;
    flex-direction: column;
}
#soru{
    padding: 10px 5px;
    margin-bottom: 20px;
}
.ans{
    background-color: #f3f3f3;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ans div{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.ans div input{
    margin-right: 10px;
    padding: 5px;

}
.ans div div label{
    padding-right: 5px;
}
.con button:not(.copy){
    width: fit-content;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: orangered;
    text-transform: uppercase;
    font-size: 17px;
    color: white;
    cursor: pointer;
}
.con button:not(.copy):hover{
    background-color: rgba(255, 68, 0, 0.733);
}
.copy{
    width: fit-content;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: green;
    text-transform: uppercase;
    font-size: 17px;
    color: white;
    cursor: pointer;
    display: none;
}
.copy:hover{
    background-color: rgba(0, 128, 0, 0.829);
}
#result{
    margin-top: 10px;
    display: none;
}